%img{ src: './images/wake.png' }

%p.caption You wake up at home in your own bed. You have escaped from the cornfield!

%table
  %tbody
    :for row in locations.field
      %tr
        :for location in row
          %td{ id: location.id, height: '20px', width: '20px' }
            &nbsp;

%ol
  %li
    <strong>Beware:</strong> If you 
    %a.close_eyes{ href: route_to_wake() } close your eyes
     and go back to sleep, you might wake up in another cornfield.
   
.links

<!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

To the extent possible under law, Unspace Interactive has waived all copyright 
and related or neighboring rights to the software, except for those portions
that are otherwise licensed.

This work is published from Canada. -->